<div id="topbar"><img src="https://raw.githubusercontent.com/ePages-de/taggle.rb/master/app/assets/images/taggle-rb.png"></div>
  <div id="content">
    <div id="imagecontainer">
      <img src="<%= @product.image.href&.split("{").first || '' %>" alt="<%= @product.name %>" />
    </div>
    <div id="details">
      <h1><%= @product.name %></h1>
      <div id="sku">Product Number: <%= @product.sku %></div>
      <div id="price">&pound;295.00</div>
      <div id="description"><%= @product.description %></div>
      <div id="tags">
        <ul>
          <% @product.tags.each do |tag| %>
            <% update_tags = @product.tags - [tag] %>
            <li><%= tag %> <%= link_to 'x', update_tags_path(@product.id, update_tags.join(',')) %></li>
          <% end %>
        </ul>
        <%= form_for :tag, :url => add_tag_path(@product.id) do |f| %>
          <%= f.text_field :new_tag, placeholder: "Add a new tag and hit enter to save!" %>
          <%= f.hidden_field :old_tags, :value => @product.tags %>
        <% end %>
      </div>
    </div>
  </div>
